@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Oxygen:wght@300;400;700&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

.project {
	width: 100%;
}

.project-link::after {
	content: "";
	display: block;
	height: 1px;
	width: 0%;
	margin-top: 2px;
	background-color: coral;
	transition: all ease-out 0.2s;
}

.project-link:hover::after {
	width: 100%;
}

.overwatch-img {
	border-radius: 50%;
}

.project-item .img-container {
	transition: all ease-in-out 0.3s;
}

.project-item .img-container:hover {
	transform: scale(1.005) !important;
	cursor: pointer;
}